body{
    margin: 0;
    padding: 0;
    background-color: #151515;
    overflow: hidden;
}

.text{
    font-family: 'Special Elite', cursive;
}


#rooms{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #151515;
    position: absolute;
}


.room{
    position: absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    width: 960px;
    height: 714.41px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
}


.level-1{
    background-image: url("../images/frames/level-1/level-1.svg");
}

.level-2{
    background-image: url("../images/frames/level-2/level-2.svg");
}

.level-3{
    background-color: purple;
}

.level-4{
    background-color: yellow;
}


.hidden{
    visibility: hidden;
}

.visible{
    visibility:visible;
}



.clue{
   
}

.level-1 .vase{
    position: absolute;
    top: 26%;
    left: 11%;
    width: 40px;
    height: 65px;
    z-index: 10;
}

.level-1 .keyHide{
    position: absolute;
    top: 46%;
    left: 32.5%;
    width: 60px;
    height: 50px;
    z-index: 10;
    transform: rotate(-70deg);
}

.level-1 .cadre{
    position: absolute;
    top: 25%;
    left: 19.5%;
    width: 30px;
    height: 50px;
    z-index: 10;
}

.level-1 .tableau{
    position: absolute;
    top: 18.5%;
    left: 29%;
    width: 100px;
    height: 50px;
    z-index: 10;
    transform: rotate(-35deg);
}

.level-1 .tapis{
    position: absolute;
    top: 65%;
    left: 70%;
    width: 80px;
    height: 50px;
    z-index: 10;
    transform: rotate(-160deg);
}

.level-1 .tiroirHaut{
    position: absolute;
    top: 48%;
    left: 47%;
    width: 50px;
    height: 10px;
    z-index: 10;
    transform: rotate(-16deg);
}

.level-1 .tiroirBas{
    position: absolute;
    top: 50.5%;
    left: 47.5%;
    width: 50px;
    height: 20px;
    z-index: 10;
    transform: rotate(-16deg);
}

.level-1 .key{
    position: absolute;
    top: 46%;
    left: 32.5%;
    width: 60px;
    height: 50px;
    z-index: 9;
    transform: rotate(-70deg);
}

.level-1 .door{
    position: absolute;
    top: 25%;
    left: 80%;
    width: 125px;
    height: 300px;
    z-index: 10;
    transform: rotate(2deg);
}



.level-2 .keyHide{
    position: absolute;
    width: 20px;
    height: 40px;
    left: 161px;
    top: 159px;
    z-index: 10;
}

.level-2 .key{
    position: absolute;
    width: 20px;
    height: 40px;
    left: 166px;
    top: 121px;
    z-index: 9;
}

.level-2 .robinet{
    position: absolute;
    width: 24px;
    height: 30px;
    left: 255px;
    top: 320px;
}

.level-2 .assiette{
    position: absolute;
    width: 57px;
    height: 34px;
    left: 513px;
    top: 468px;
    transform: rotate(-25deg);
}

.level-2 .assietteSansClef{
    position: absolute;
    width: 57px;
    height: 34px;
    left: 513px;
    top: 468px;
    transform: rotate(-25deg);
}

.level-2 .frigo{
    position: absolute;
    width: 102px;
    height: 170px;
    left: 453px;
    top: 250px;
}

.level-2 .frigoSansClef{
    position: absolute;
    width: 102px;
    height: 170px;
    left: 453px;
    top: 250px;
}

.level-2 .robinetSansClef{
    position: absolute;
    width: 24px;
    height: 30px;
    left: 255px;
    top: 320px;

}

.level-2 .tireBouchon{
    position: absolute;
    width: 20px;
    height: 19px;
    left: 255px;
    top: 444px;
    transform: rotate(-16deg);
    z-index:9;
}

.level-2 .tiroirBas{
    position: absolute;
    width: 74px;
    height: 32px;
    left: 205px;
    top: 464px;
    transform: rotate(-16deg);
}

.level-2 .tiroirBasSansClef{
    position: absolute;
    width: 74px;
    height: 32px;
    left: 205px;
    top: 464px;
    transform: rotate(-16deg);
}

.level-2 .tiroirHaut{
    position: absolute;
    width: 77px;
    height: 17px;
    left: 201px;
    top: 409px;
    transform: rotate(-16deg);
}

.level-2 .tiroirHautSansClef{
    position: absolute;
    width: 77px;
    height: 17px;
    left: 201px;
    top: 409px;
    transform: rotate(-16deg);
}

.level-2 .tiroirMilieu{
    position: absolute;
    width: 77px;
    height: 19px;
    left: 201px;
    top: 438px;
    transform: rotate(-16deg);
    z-index: 10;
}
.level-2 .tiroirMilieuSansClef{
    position: absolute;
    width: 77px;
    height: 19px;
    left: 201px;
    top: 438px;
    transform: rotate(-16deg);
    z-index: 8;
}

.level-2 .door{
    position: absolute;
    width: 112px;
    height: 281px;
    left: 776px;
    top: 185px;
}







/* HOMEPAGE */


.home{
    left:0; right:0;
    top:0; bottom:0;
    position: absolute;
    margin: 0 auto;
    width: 960px;
    height: 714.41px;
    background-image: url("../images/frames/home/home.svg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.homeButton{
    left: 20%;
    top:60%;
    position: absolute;
    width: 180px;
    height: 40px;
    border-radius:28px;
    text-align: center;
    line-height: 40px;
    color: white;
    background-color: #761717;
    text-decoration: none; 
    transition: background-color 200ms linear;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    animation: float 1.2s linear alternate infinite;
}

@keyframes float{
    0%   {

        transform: translateY(-3px);

    }
    100% {
        transform: translateY(5px);

    }
}

.home .text{
    left: 5%;
    top:-15%;
    position: relative;
    width: 350px;
    color: white;
    font-family: "Roboto";
    font-weight: 500;
}

.home .homeButton:hover{
    background-color: #D8D8D8; 
    color: #761717;  
    transition: background-color 200ms linear;
}






.home .mainTitle{
    position: relative;
    top: -4%;
    right: 15%;
    font-family: "The Night Creatures", sans-serif;
    color: white;
    font-size: 120px;
}

.home .subTitle{
    position: relative;
    top: -16%;
    right: -20%;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 15px;
}


.home .door{
    left: 80%;
    top: -45%;
    position: relative;
    width: 120px;
    height: 300px;
    display: none;
}



.barre{
    position: absolute;
    top:0px;
    left:0px;
    height: 6px;
    background-color: red;
    z-index: 10;
    transition-property: width;
    transition-duration: 1s;
}


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff') format('woff2'),
        url('../fonts/Roboto-Thin.woff2') format('woff');
    font-weight: light;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'The Night Creatures';
    src: url('../fonts/TheNightCreatures.woff2') format('woff2'),
        url('../fonts/TheNightCreatures.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}