body{
    margin: 0;
    padding: 0;
}

.text{
    font-family: 'Special Elite', cursive;
}


#rooms{
    z-index: -1;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #333333;
    position: absolute;
}


.room{
    position: absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    width: 75%;
    height: 75%;
}

.level-1{
    background-color: red;
}

.level-2{
    background-color: blue;
}

.level-3{
    background-color: purple;
}

.level-4{
    background-color: yellow;
}


.hidden{
    visibility: hidden;
}

.visible{
    visibility:visible;
}

.roomSwitcher{
    width: 50px;
    height: 50px;
    background-color: white;
}